In [42]:
data = load('DataGroupAssignment.Rdata')

In [23]:
library('lubridate')

In [43]:
head(Demographics)

  UserID  Country Language RegDate    FirstPay FirstAct FirstSp  FirstCa
1 1324354 276     2        2005-02-01 20050224 20050224 20050224 NULL
2 1324355 300     8        2005-02-01 20050201 20050201 20050201 NULL
3 1324356 276     2        2005-02-01 20050201 20050202 20050202 NULL
4 1324358 752     1        2005-02-01 20050201 20050201 20050201 NULL
5 1324360 792     7        2005-02-01 20050202 20050202 20050202 20050203
6 1324362 276     2        2005-02-01 20050211 20050211 20050211 NULL
  FirstGa FirstPo  ApplicationID Gender
1 NULL    NULL     3             1
2 NULL    20050611 1             1
3 NULL    NULL     3             1
4 NULL    NULL     1             1
5 NULL    NULL     9             1
6 NULL    NULL     3             1

In [25]:
#data cleaning 
#check tibble feature types
str(Demographics)

Classes 'tbl_df', 'tbl' and 'data.frame':	42649 obs. of  12 variables:
 $ UserID       : num  1324354 1324355 1324356 1324358 1324360 ...
  ..- attr(*, "label")= chr "User ID"
 $ Country      : num  276 300 276 752 792 276 208 276 620 792 ...
  ..- attr(*, "label")= chr "Country of residence"
 $ Language     : num  2 8 2 1 7 2 11 2 16 7 ...
  ..- attr(*, "label")= chr "Primary language"
 $ RegDate      : chr  "2005-02-01" "2005-02-01" "2005-02-01" "2005-02-01" ...
  ..- attr(*, "label")= chr "Registration Date"
 $ FirstPay     : chr  "20050224" "20050201" "20050201" "20050201" ...
  ..- attr(*, "label")= chr "First Payin Date"
 $ FirstAct     : chr  "20050224" "20050201" "20050202" "20050201" ...
  ..- attr(*, "label")= chr "First Active Play Date"
 $ FirstSp      : chr  "20050224" "20050201" "20050202" "20050201" ...
  ..- attr(*, "label")= chr "First Sports Book Play Date"
 $ FirstCa      : chr  "NULL" "NULL" "NULL" "NULL" ...
  ..- attr(*, "label")= chr "First Casino Play Date"
 $ FirstGa      : chr  "NULL" "NULL" "NULL" "NULL" ...
  ..- attr(*, "label")= chr "First Games Play Date"
 $ FirstPo      : chr  "NULL" "20050611" "NULL" "NULL" ...
  ..- attr(*, "label")= chr "First Poker Play Date"
 $ ApplicationID: num  3 1 3 1 9 3 1 3 1 9 ...
  ..- attr(*, "label")= chr "Application ID"
 $ Gender       : num  1 1 1 1 1 1 1 1 1 1 ...

In [31]:
#convert registration date to date time 
Demographics$RegDate <- as.Date(Demographics$RegDate)

In [33]:
str(Demographics$RegDate)

 Date[1:42649], format: "2005-02-01" "2005-02-01" "2005-02-01" "2005-02-01" "2005-02-01" ...

In [35]:
#convert first pay, first act, first sports book play, first casino play,
# first games play, and  first poker play dates to datetime.
Demographics$FirstPay <- as.Date(Demographics$FirstPay, "%Y%m%d")

In [36]:
Demographics$FirstAct <- as.Date(Demographics$FirstAct, "%Y%m%d")

In [37]:
Demographics$FirstSp <- as.Date(Demographics$FirstSp, "%Y%m%d")

In [38]:
Demographics$FirstCa <- as.Date(Demographics$FirstCa, "%Y%m%d")

In [39]:
Demographics$FirstGa <- as.Date(Demographics$FirstGa, "%Y%m%d")

In [40]:
Demographics$FirstPo <- as.Date(Demographics$FirstPo, "%Y%m%d")

In [41]:
str(Demographics)

Classes 'tbl_df', 'tbl' and 'data.frame':	42649 obs. of  12 variables:
 $ UserID       : num  1324354 1324355 1324356 1324358 1324360 ...
  ..- attr(*, "label")= chr "User ID"
 $ Country      : num  276 300 276 752 792 276 208 276 620 792 ...
  ..- attr(*, "label")= chr "Country of residence"
 $ Language     : num  2 8 2 1 7 2 11 2 16 7 ...
  ..- attr(*, "label")= chr "Primary language"
 $ RegDate      : Date, format: "2005-02-01" "2005-02-01" ...
 $ FirstPay     : Date, format: "2005-02-24" "2005-02-01" ...
 $ FirstAct     : Date, format: "2005-02-24" "2005-02-01" ...
 $ FirstSp      : Date, format: "2005-02-24" "2005-02-01" ...
 $ FirstCa      : Date, format: NA NA ...
 $ FirstGa      : Date, format: NA NA ...
 $ FirstPo      : Date, format: NA "2005-06-11" ...
 $ ApplicationID: num  3 1 3 1 9 3 1 3 1 9 ...
  ..- attr(*, "label")= chr "Application ID"
 $ Gender       : num  1 1 1 1 1 1 1 1 1 1 ...