In [1]:
if (!require("lubridate")) install.packages("lubridate")
if (!require("dplyr")) install.packages("dplyr")
if (!require("ggplot2")) install.packages("ggplot2")
if (!require("formattable")) install.packages("formattable")
if (!require("Hmisc")) install.packages('Hmisc')
if (!require("tidyr")) install.packages("tidyr")

Loading required package: lubridate

Attaching package: 'lubridate'

The following object is masked from 'package:base':

    date

Loading required package: dplyr
Error: package or namespace load failed for 'dplyr' in loadNamespace(j <- i[[1L]], c(lib.loc, .libPaths()), versionCheck = vI[[j]]):
 there is no package called 'pillar'
also installing the dependencies 'glue', 'lifecycle', 'rlang', 'tibble', 'tidyselect', 'pillar'

  There are binary versions available but the source versions are later:
          binary source needs_compilation
glue       1.4.2  1.5.1              TRUE
lifecycle  1.0.0  1.0.1             FALSE
rlang     0.4.11 0.4.12              TRUE
tibble     3.1.1  3.1.6              TRUE
pillar     1.6.0  1.6.4             FALSE
dplyr      1.0.6  1.0.7              TRUE

  Binaries will be installed
package 'glue' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'glue'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\tools\Anaconda3\envs\r-environment\Lib\R\library\00LOCK\glue\libs\x64\glue.dll to C:\tools\Anaconda3\envs\r-environment\Lib\R\library\glue\libs\x64\glue.dll: Permission denied"Warning message:
"restored 'glue'"

package 'rlang' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'rlang'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\tools\Anaconda3\envs\r-environment\Lib\R\library\00LOCK\rlang\libs\x64\rlang.dll to C:\tools\Anaconda3\envs\r-environment\Lib\R\library\rlang\libs\x64\rlang.dll: Permission denied"Warning message:
"restored 'rlang'"

package 'tibble' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'tibble'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\tools\Anaconda3\envs\r-environment\Lib\R\library\00LOCK\tibble\libs\x64\tibble.dll to C:\tools\Anaconda3\envs\r-environment\Lib\R\library\tibble\libs\x64\tibble.dll: Permission denied"Warning message:
"restored 'tibble'"

package 'tidyselect' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'tidyselect'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\tools\Anaconda3\envs\r-environment\Lib\R\library\00LOCK\tidyselect\libs\x64\tidyselect.dll to C:\tools\Anaconda3\envs\r-environment\Lib\R\library\tidyselect\libs\x64\tidyselect.dll: Permission denied"Warning message:
"restored 'tidyselect'"

package 'dplyr' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'dplyr'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\tools\Anaconda3\envs\r-environment\Lib\R\library\00LOCK\dplyr\libs\x64\dplyr.dll to C:\tools\Anaconda3\envs\r-environment\Lib\R\library\dplyr\libs\x64\dplyr.dll: Permission denied"Warning message:
"restored 'dplyr'"

The downloaded binary packages are in
	C:\Users\njohn\AppData\Local\Temp\RtmpgVhign\downloaded_packages

installing the source packages 'lifecycle', 'pillar'

Warning message in install.packages("dplyr"):
"installation of package 'lifecycle' had non-zero exit status"Warning message in install.packages("dplyr"):
"installation of package 'pillar' had non-zero exit status"Loading required package: ggplot2
Error: package or namespace load failed for 'ggplot2' in loadNamespace(j <- i[[1L]], c(lib.loc, .libPaths()), versionCheck = vI[[j]]):
 there is no package called 'pillar'
also installing the dependency 'rlang'

  There are binary versions available but the source versions are later:
        binary source needs_compilation
rlang   0.4.11 0.4.12              TRUE
ggplot2  3.3.3  3.3.5             FALSE

  Binaries will be installed
package 'rlang' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'rlang'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\tools\Anaconda3\envs\r-environment\Lib\R\library\00LOCK\rlang\libs\x64\rlang.dll to C:\tools\Anaconda3\envs\r-environment\Lib\R\library\rlang\libs\x64\rlang.dll: Permission denied"Warning message:
"restored 'rlang'"

The downloaded binary packages are in
	C:\Users\njohn\AppData\Local\Temp\RtmpgVhign\downloaded_packages

installing the source package 'ggplot2'

Warning message in install.packages("ggplot2"):
"installation of package 'ggplot2' had non-zero exit status"

In [2]:
options(scipen = 20)

In [3]:
getwd()

[1] "c:/Users/njohn/OneDrive - IESEG/Documents/GitHub/marketing_datamart/gambeling_analysis"

In [4]:
data = load('DataGroupAssignment.Rdata')

In [5]:
data

[1] "Demographics"         "UserDailyAggregation" "PokerChipConversions"

# data cleaning

In [6]:
head(Demographics)

  UserID  Country Language RegDate    FirstPay FirstAct FirstSp  FirstCa
1 1324354 276     2        2005-02-01 20050224 20050224 20050224 NULL
2 1324355 300     8        2005-02-01 20050201 20050201 20050201 NULL
3 1324356 276     2        2005-02-01 20050201 20050202 20050202 NULL
4 1324358 752     1        2005-02-01 20050201 20050201 20050201 NULL
5 1324360 792     7        2005-02-01 20050202 20050202 20050202 20050203
6 1324362 276     2        2005-02-01 20050211 20050211 20050211 NULL
  FirstGa FirstPo  ApplicationID Gender
1 NULL    NULL     3             1
2 NULL    20050611 1             1
3 NULL    NULL     3             1
4 NULL    NULL     1             1
5 NULL    NULL     9             1
6 NULL    NULL     3             1

In [7]:
#check tibble feature types
str(Demographics)

Classes 'tbl_df', 'tbl' and 'data.frame':	42649 obs. of  12 variables:
 $ UserID       : num  1324354 1324355 1324356 1324358 1324360 ...
  ..- attr(*, "label")= chr "User ID"
 $ Country      : num  276 300 276 752 792 276 208 276 620 792 ...
  ..- attr(*, "label")= chr "Country of residence"
 $ Language     : num  2 8 2 1 7 2 11 2 16 7 ...
  ..- attr(*, "label")= chr "Primary language"
 $ RegDate      : chr  "2005-02-01" "2005-02-01" "2005-02-01" "2005-02-01" ...
  ..- attr(*, "label")= chr "Registration Date"
 $ FirstPay     : chr  "20050224" "20050201" "20050201" "20050201" ...
  ..- attr(*, "label")= chr "First Payin Date"
 $ FirstAct     : chr  "20050224" "20050201" "20050202" "20050201" ...
  ..- attr(*, "label")= chr "First Active Play Date"
 $ FirstSp      : chr  "20050224" "20050201" "20050202" "20050201" ...
  ..- attr(*, "label")= chr "First Sports Book Play Date"
 $ FirstCa      : chr  "NULL" "NULL" "NULL" "NULL" ...
  ..- attr(*, "label")= chr "First Casino Play Date"
 $ FirstGa      : chr  "NULL" "NULL" "NULL" "NULL" ...
  ..- attr(*, "label")= chr "First Games Play Date"
 $ FirstPo      : chr  "NULL" "20050611" "NULL" "NULL" ...
  ..- attr(*, "label")= chr "First Poker Play Date"
 $ ApplicationID: num  3 1 3 1 9 3 1 3 1 9 ...
  ..- attr(*, "label")= chr "Application ID"
 $ Gender       : num  1 1 1 1 1 1 1 1 1 1 ...

In [8]:
#convert registration date to date time 
Demographics$RegDate <- as.Date(Demographics$RegDate)

In [9]:
str(Demographics$RegDate)

 Date[1:42649], format: "2005-02-01" "2005-02-01" "2005-02-01" "2005-02-01" "2005-02-01" ...

In [10]:
#convert first pay, first act, first sports book play, first casino play,
# first games play, and  first poker play dates to datetime.
Demographics$FirstPay <- as.Date(Demographics$FirstPay, "%Y%m%d")

In [11]:
Demographics$FirstAct <- as.Date(Demographics$FirstAct, "%Y%m%d")
Demographics$FirstSp <- as.Date(Demographics$FirstSp, "%Y%m%d")
Demographics$FirstCa <- as.Date(Demographics$FirstCa, "%Y%m%d")
Demographics$FirstGa <- as.Date(Demographics$FirstGa, "%Y%m%d")
Demographics$FirstPo <- as.Date(Demographics$FirstPo, "%Y%m%d")

In [12]:
str(Demographics)

Classes 'tbl_df', 'tbl' and 'data.frame':	42649 obs. of  12 variables:
 $ UserID       : num  1324354 1324355 1324356 1324358 1324360 ...
  ..- attr(*, "label")= chr "User ID"
 $ Country      : num  276 300 276 752 792 276 208 276 620 792 ...
  ..- attr(*, "label")= chr "Country of residence"
 $ Language     : num  2 8 2 1 7 2 11 2 16 7 ...
  ..- attr(*, "label")= chr "Primary language"
 $ RegDate      : Date, format: "2005-02-01" "2005-02-01" ...
 $ FirstPay     : Date, format: "2005-02-24" "2005-02-01" ...
 $ FirstAct     : Date, format: "2005-02-24" "2005-02-01" ...
 $ FirstSp      : Date, format: "2005-02-24" "2005-02-01" ...
 $ FirstCa      : Date, format: NA NA ...
 $ FirstGa      : Date, format: NA NA ...
 $ FirstPo      : Date, format: NA "2005-06-11" ...
 $ ApplicationID: num  3 1 3 1 9 3 1 3 1 9 ...
  ..- attr(*, "label")= chr "Application ID"
 $ Gender       : num  1 1 1 1 1 1 1 1 1 1 ...

In [13]:
#create a cutoff date object
october <- as.Date("20051002","%Y%m%d")

In [14]:
#calculate LOR (Length of Relation) based on time since 
#last transaction date in the dataset and the registration date of the 
#gambler
Demographics$LOR <- october - Demographics$RegDate

In [15]:
#calculate play to act interval (PTAI)
#based on time from FirstPay (first betting deposit date)
#and first active date
Demographics$PTAI <- Demographics$FirstAct - Demographics$FirstPay

In [16]:
#calculate registeration to first pay interval (RTFP)
#based on time from gambler registration date to first bet deposit
Demographics$RTFP <- Demographics$FirstPay - Demographics$RegDate

In [17]:
#calculate dummy variable for each first play category (sports book, casino play,
#first games play, first poker play) which indicates whether the indiviual
#has ever partook in these play categories
Demographics$SpPlayed <- ifelse(is.na(Demographics$FirstSp),1,0)

Demographics$CaPlayed <- ifelse(is.na(Demographics$FirstCa),1,0)

Demographics$GaPlayed <- ifelse(is.na(Demographics$FirstGa),1,0)
Demographics$PoPlayed <- ifelse(is.na(Demographics$FirstPo),1,0)

In [18]:
sapply(Demographics,function(x) sum(is.na(x)))

       UserID       Country      Language       RegDate      FirstPay
            0             0             0             0             0
     FirstAct       FirstSp       FirstCa       FirstGa       FirstPo
            2          1236         36761         39376         40507
ApplicationID        Gender           LOR          PTAI          RTFP
            0             1             0             2             0
     SpPlayed      CaPlayed      GaPlayed      PoPlayed
            0             0             0             0

In [19]:
table(Demographics$Gender)

    0     1
 3588 39060

In [20]:
Demographics$Gender <- ifelse(is.na(Demographics$Gender),1, Demographics$Gender)

In [21]:
sum(is.na(Demographics$Gender))

[1] 0

In [22]:
head(Demographics)

  UserID  Country Language RegDate    FirstPay   FirstAct   FirstSp
1 1324354 276     2        2005-02-01 2005-02-24 2005-02-24 2005-02-24
2 1324355 300     8        2005-02-01 2005-02-01 2005-02-01 2005-02-01
3 1324356 276     2        2005-02-01 2005-02-01 2005-02-02 2005-02-02
4 1324358 752     1        2005-02-01 2005-02-01 2005-02-01 2005-02-01
5 1324360 792     7        2005-02-01 2005-02-02 2005-02-02 2005-02-02
6 1324362 276     2        2005-02-01 2005-02-11 2005-02-11 2005-02-11
  FirstCa    FirstGa FirstPo    ApplicationID Gender LOR      PTAI   RTFP
1 <NA>       <NA>    <NA>       3             1      243 days 0 days 23 days
2 <NA>       <NA>    2005-06-11 1             1      243 days 0 days  0 days
3 <NA>       <NA>    <NA>       3             1      243 days 1 days  0 days
4 <NA>       <NA>    <NA>       1             1      243 days 0 days  0 days
5 2005-02-03 <NA>    <NA>       9             1      243 days 0 days  1 days
6 <NA>       <NA>    <NA>       3             1      243 days 0 days 10 days
  SpPlayed CaPlayed GaPlayed PoPlayed
1 0        1        1        1
2 0        1        1        0
3 0        1        1        1
4 0        1        1        1
5 0        0        1        1
6 0        1        1        1

In [23]:
UserDailyAggregation$Date <- as.Date(UserDailyAggregation$Date,"%Y%m%d")

In [24]:
sum(is.na(UserDailyAggregation))

[1] 0

In [25]:
head(UserDailyAggregation)

  UserID  Date       ProductID Stakes Winnings Bets
1 1324354 2005-02-24 1         20     0        2
2 1324354 2005-02-25 1          0     0        0
3 1324354 2005-02-27 1         20     0        2
4 1324354 2005-03-03 1         10     0        1
5 1324354 2005-03-04 1         10     0        1
6 1324354 2005-03-05 1         10     0        1

In [ ]:
#Filter out transactions before first paydate
Demographics_paydate <- Demographics %>%
  select(UserID,FirstPay)

uda_filtered <- left_join(UserDailyAggregation,Demographics_paydate,by = 'UserID')

uda_filtered <- uda_filtered %>%
  filter(Date >= FirstPay) %>%
        select(-FirstPay)

In [26]:
UserDailyAggregation_1 <- uda_filtered %>% 
        group_by(UserID) %>% 
        summarise(first_txn_dt=min(Date),
                  last_txn_dt=max(Date), 
                  txn_cnt=n(), 
                  total_stakes=round(sum(Stakes)), 
                  total_wins=round(sum(Winnings)), 
                  total_bets=round(sum(Bets)), 
                  avg_stakes=round(mean(Stakes)), 
                  avg_wins=round(mean(Winnings)), 
                  avg_bets=round(mean(Bets)))

ERROR: Error in UserDailyAggregation %>% group_by(UserID) %>% summarise(first_txn_dt = min(Date), : could not find function "%>%"

In [ ]:
head(UserDailyAggregation_1)

  UserID  first_txn_dt last_txn_dt txn_cnt total_stakes total_wins total_bets
1 1324354 2005-02-24   2005-09-30  136     11977        11737      279
2 1324355 2005-02-01   2005-09-29  106       426          464      252
3 1324356 2005-02-02   2005-09-12   75      1365          911      214
4 1324358 2005-02-01   2005-05-06    9       336          210       11
5 1324360 2005-02-02   2005-09-25   32        66           43       47
6 1324362 2005-02-11   2005-09-17    7        22            0        7
  avg_stakes avg_wins avg_bets
1 88         86       2
2  4          4       2
3 18         12       3
4 37         23       1
5  2          1       1
6  3          0       1

In [ ]:
p_id <- unique(UserDailyAggregation[c("ProductID")])
p_id[order(p_id$ProductID),]

  ProductID
1 1
2 2
3 4
4 5
5 6
6 7
7 8

In [ ]:
# Making a new dataframe with number of transactions per UserID in the given period
UserDailyAggregation_2 <- uda_filtered %>% 
                group_by(UserID) %>% 
                summarise(procuct_1_cnt=length(ProductID[ProductID == 1]),
                product_2_cnt=length(ProductID[ProductID == 2]),
                product_4_cnt=length(ProductID[ProductID == 4]),
                product_5_cnt=length(ProductID[ProductID == 5]),
                product_6_cnt=length(ProductID[ProductID == 6]),
                product_7_cnt=length(ProductID[ProductID == 7]),
                product_8_cnt=length(ProductID[ProductID == 8])
                )

In [ ]:
head(UserDailyAggregation_2)

  UserID  procuct_1_cnt product_2_cnt product_4_cnt product_5_cnt product_6_cnt
1 1324354 117           19            0             0             0
2 1324355  99            7            0             0             0
3 1324356  51           24            0             0             0
4 1324358   8            1            0             0             0
5 1324360  29            2            0             0             0
6 1324362   7            0            0             0             0
  product_7_cnt product_8_cnt
1 0             0
2 0             0
3 0             0
4 0             0
5 0             1
6 0             0

In [ ]:
sapply(UserDailyAggregation_1,function(x) sum(is.na(x)))

      UserID first_txn_dt  last_txn_dt      txn_cnt total_stakes   total_wins
           0            0            0            0            0            0
  total_bets   avg_stakes     avg_wins     avg_bets
           0            0            0            0

In [ ]:
head(UserDailyAggregation)

  UserID  Date       ProductID Stakes Winnings Bets
1 1324354 2005-02-24 1         20     0        2
2 1324354 2005-02-25 1          0     0        0
3 1324354 2005-02-27 1         20     0        2
4 1324354 2005-03-03 1         10     0        1
5 1324354 2005-03-04 1         10     0        1
6 1324354 2005-03-05 1         10     0        1

In [ ]:
uda_cleaned <- merge(x = UserDailyAggregation_1, y = UserDailyAggregation_2, by = "UserID", all.x = TRUE)

In [ ]:
head(uda_cleaned)

  UserID  first_txn_dt last_txn_dt txn_cnt total_stakes total_wins total_bets
1 1324354 2005-02-24   2005-09-30  136     11977        11737      279
2 1324355 2005-02-01   2005-09-29  106       426          464      252
3 1324356 2005-02-02   2005-09-12   75      1365          911      214
4 1324358 2005-02-01   2005-05-06    9       336          210       11
5 1324360 2005-02-02   2005-09-25   32        66           43       47
6 1324362 2005-02-11   2005-09-17    7        22            0        7
  avg_stakes avg_wins avg_bets procuct_1_cnt product_2_cnt product_4_cnt
1 88         86       2        117           19            0
2  4          4       2         99            7            0
3 18         12       3         51           24            0
4 37         23       1          8            1            0
5  2          1       1         29            2            0
6  3          0       1          7            0            0
  product_5_cnt product_6_cnt product_7_cnt product_8_cnt
1 0             0             0             0
2 0             0             0             0
3 0             0             0             0
4 0             0             0             0
5 0             0             0             1
6 0             0             0             0

In [ ]:
names(uda_cleaned)

 [1] "UserID"        "first_txn_dt"  "last_txn_dt"   "txn_cnt"
 [5] "total_stakes"  "total_wins"    "total_bets"    "avg_stakes"
 [9] "avg_wins"      "avg_bets"      "procuct_1_cnt" "product_2_cnt"
[13] "product_4_cnt" "product_5_cnt" "product_6_cnt" "product_7_cnt"
[17] "product_8_cnt"

In [ ]:
#Calculate Recency, Frequency and Monetary Value
#Get max date

#calculate recency and frequency
UserDailyAggregation_rfm <- uda_filtered %>% 
  group_by(UserID) %>% 
  summarise(recency = as.numeric(october - max(Date)),
            frequency = n(),
            monetary_value = sum(Winnings))

#Fill na with 0s
UserDailyAggregation_rfm[is.na(UserDailyAggregation_rfm)] = 0

#calculate RFM Score
UserDailyAggregation_rfm <- UserDailyAggregation_rfm %>%
  mutate(rfm_value = recency + frequency + monetary_value)


uda_cleaned <- left_join(uda_cleaned,UserDailyAggregation_rfm,by='UserID')

UserDailyAggregation_rfm <- UserDailyAggregation_rfm %>%
  mutate(recency_score = as.numeric(cut2(-recency, g=4)),
         frequency_score = as.numeric(cut2(frequency, g=4)),
         value_score = as.numeric(cut2(monetary_value, g=4)))
UserDailyAggregation_rfm <- UserDailyAggregation_rfm %>%
  mutate(recency_score = recency_score *0.2,
         frequency_score = frequency_score *0.2,
         value_score = value_score *0.6)

UserDailyAggregation_rfm$weighted_score <- rowMeans(UserDailyAggregation_rfm[,c("recency_score","frequency_score","value_score")])

uda_cleaned <- left_join(uda_cleaned,UserDailyAggregation_rfm,by='UserID')

In [ ]:
uda_cleaned$profit <- uda_cleaned$total_stakes - uda_cleaned$total_wins

In [ ]:
PokerChipConversions_buy <- PokerChipConversions %>% 
                          group_by(UserID) %>% 
                            filter(TransType == 124) %>% 
                            summarise(total_buy = sum(TransAmount),
                                      avg_buy = mean(TransAmount),
                                      min_buy = min(TransAmount),
                                      max_buy = max(TransAmount))

PokerChipConversions_sell <- PokerChipConversions %>% 
                                group_by(UserID) %>% 
                                filter(TransType == 24) %>% 
                                summarise(total_sell = sum(TransAmount),
                                          avg_sell = mean(TransAmount),
                                          min_sell = min(TransAmount),
                                          max_sell = max(TransAmount))

PokerChipConversions_2 <- full_join(x=PokerChipConversions_buy,y=PokerChipConversions_sell, by='UserID')

In [ ]:
base_table <- merge(x= Demographics,y=uda_cleaned,by='UserID',all.x=TRUE)
base_table <- left_join(base_table,PokerChipConversions_2,by='UserID')